@media (min-width: 0px) {
  .container {
    margin: 0px auto;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }

  .head__women img {
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1050px !important;
  }
}
@media (min-width: 1445px) {
  .container {
    max-width: 1320px !important;
    margin: 0px auto;
  }
}