@font-face {
  font-family: Martel;
  font-style: normal;
  src: url("../fonts/Martel-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: Martel;
  src: url("../fonts/Martel-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: Martel;
  font-style: normal;
  src: url("../fonts/Martel-SemiBold.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: OpenSans;
  font-style: normal;
  src: url("../fonts/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: OpenSans;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: OpenSans;
  font-style: normal;
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: Martel;
  font-style: normal;
  src: url("../fonts/Martel-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  src: url("../fonts/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.head {
  background: url("../images/background.png") 0 0 no-repeat;
  background-size: cover;
}
.head__navigation {
  padding: 36px 0px;
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr;
  grid-template-areas: "logo links icons";
  align-items: center;
}
.head__logo {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  letter-spacing: 0.1px;
  margin-right: 545px;
  /* text-color */
  color: #252b42;
  grid-area: logo;
}
.head__links {
  -moz-column-gap: 21px;
       column-gap: 21px;
  display: flex;
  grid-area: links;
}
.head__links a {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  padding: 0 1.9px;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  text-align: center;
  letter-spacing: 0.2px;
  /* second-text-color */
  color: #737373;
  text-decoration: none;
}
.head__icons {
  display: flex;
  margin-left: 39px;
  align-items: center;
  grid-area: icons;
  -moz-column-gap: 18px;
       column-gap: 18px;
}
.head__toggler {
  position: absolute;
  top: 45px;
  right: 60px;
}
.head__bottom {
  display: flex;
}
.head__item {
  width: 509px;
  display: flex;
  align-items: center;
}
.head__title {
  margin: 0;
  font-family: "Martel";
  font-style: normal;
  font-weight: 900;
  font-size: 58px;
  line-height: 65px;
  /* or 112% */
  letter-spacing: 0.2px;
  /* text-color */
  color: #252b42;
}
.head__subtile {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 33px;
  letter-spacing: 0.2px;
  max-width: 73.9%;
  color: #737373;
}
.head__btns {
  display: flex;
  margin-top: 36px;
}
.head__btn:nth-child(2) {
  background: none;
}
.head__btn-item {
  border: none;
  padding: 10px 36px;
  margin-right: 10px;
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */
  text-align: center;
  letter-spacing: 0.2px;
  /* light-text-color */
  color: #ffffff;
  color: #ffffff;
  background: #784f33;
  border-radius: 37px;
}
.head__btn-item-op {
  color: #784f33;
  border: 1px solid #784f33;
  background: none;
}
.head__women img {
  display: block;
}

@media (min-width: 0px) {
  .container {
    margin: 0px auto;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }

  .head__women img {
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1050px !important;
  }
}
@media (min-width: 1445px) {
  .container {
    max-width: 1320px !important;
    margin: 0px auto;
  }
}